<!-- views/comments/edit.html.erb -->
<div class="container d-flex align-items-center justify-content-center">
  <div class="container-md">
<%= render partial: 'comments/edit_comment_form', locals: { comment: @comment, location: @location } %>
</div>
</div>

