<div class="container d-flex align-items-center justify-content-center">
  <div>
    <div>
      <h1>Editing location</h1>

      <%= render "form", location: @location %>

      <br>

      <%= link_to "Go Back", locations_path, class: "btn btn-primary w-100" %>
    </div>
  </div>
</div>
