<div class="container d-flex align-items-center justify-content-center">
 <div class="container-md" style="min-width: 50vw;">
    <div class="shadow-lg p-2 mb-2 bg-body-tertiary rounded">
      <div class="d-flex justify-content-between mt-2 mb-2">
        <h1 class="card-title">Locations</h1>
          <%= link_to "Add New Location", new_location_path, class: "btn btn-primary ms-4 d-inline-flex align-items-center", style: "height: 3rem;" %>
      </div>
    </div>

    <% if @locations.blank? %>
      <br/>
      <div class="container d-flex align-items-center justify-content-center">
        <div class="alert alert-primary" role="alert">
          Sorry, not sure if this is what you expected, locations have not been added yet!
        </div>
      </div>
    <% end %>

    <% if @locations.present? %>
      <div class="card">
        <div class="card-body">
          <div id="locations">
            <% @locations.each do |location| %>
              <%= render location %>
              <p><br>
              </p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="d-flex justify-content-between mt-2">
      <% if @locations.prev_page %>
        <%= link_to_prev_page @locations, 'Previous', class: "btn btn-primary", style: "min-width: 100px;" %>
      <% else %>
        <a href="#" class="btn btn-primary disabled" tabindex="-1" aria-disabled="true" style="min-width: 100px;">Previous</a>
      <% end %>

      <% if @locations.next_page %>
        <%= link_to_next_page @locations, 'Next', class: "btn btn-primary", style: "min-width: 100px;" %>
      <% else %>
        <a href="#" class="btn btn-primary disabled" tabindex="-1" aria-disabled="true" style="min-width: 100px;">Next</a>
      <% end %>
    </div>

  </div>
</div>
