<div class="container d-flex align-items-center justify-content-center">
  <div>
  <h1>New location</h1>

    <%= render "form", location: @location %>

    <br>

    <div>
      <%= link_to "Back to locations", locations_path %>
    </div>
  </div>
</div>