<div class="container-md" style="min-width: 50vw;">
  <!-- Content for medium to large devices -->
  <div class="card">
    <div class="card-body">
      <%= render partial: 'locations/location_details', locals: { location: @location, comments: @comments } %>
      <div class="d-flex justify-content-between mt-4">
        <div class="me-auto"> 
          <%= link_to "Delete Location", @location, method: :delete,
                                                class: "btn btn-danger btn-sm" ,
                                                data: { confirm: "Are you sure you want to delete this location?" } %>
        </div>
        <div class="mx-auto">
          <%= link_to "Update Location", edit_location_path(@location), class: "btn btn-primary btn-sm" %>
        </div>
        <div class="ms-auto">
          <%= link_to "Back", locations_path, class: "btn btn-primary btn-sm" %>
        </div>
      </div>
    </div>
  </div>
</div>


